<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <title>Graphe</title>
</head>
<body>
    <a href="http://127.0.0.1:5000/dashboard/" class="accueil">Accueil</a>
    <nav class="navclass">
          <p id="demo">Faîte votre choix de paramètres:</p>
          <form id="myForm"  method="post" action="http://127.0.0.1:5000/dashboard/">
             <label for="monselect">Variable à prédire:</label>
              <select id="monselect" name="parametre1">
                 <option value={{request.form.salaire}} selected>Salaire</option>
                  <option value="{{request.form.valeur2}}">Valeur 2</option>
                    <option value="valeur3">Valeur 3</option>
              </select>
               <select name="poste" multiple size="4">
                    <optgroup label="Parametre pour la prédiction">
                        <option value={{request.form.age}}>Age</option>
                         <option value={{request.form.chat}}>Chat</option>
                    </optgroup>
                           <input type="submit" value="Submit">
                       </select>
          </form>
          <p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
      </nav>

        <div class="chart">
            <embed type="image/svg+xml" src= {{ chart|safe }} />
        </div>

</body>
</html>